<ion-header>
  <ion-toolbar>
    <ion-title>ficcion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/expediente.jpg" width="150"></center> 
      <ion-card-subtitle>James Dashner</ion-card-subtitle>
      <ion-card-title>Maze Runner: expedinete secreto</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      E-mails entre empleados de CRUEL, memos que debían ser destruidos luego de ser leídos y una selección de los recuerdos borrados de algunos Habitantes componen este original libro escrito por James Dashner e ilustrado por Marcelo Orsi Blanco.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/10ecFKolsEZ_JLma-jpKRcUHJK0MxViA1/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/divergente.jpg" width="150"></center> 
      <ion-card-subtitle>Verónica Roth</ion-card-subtitle>
      <ion-card-title>Divergente</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Divergente sigue la vida de Beatrice Prior, una chica de 16 años, quien vive en una sociedad creada al comienzo de la gran paz que ha decidido agrupar a las personas en cinco facciones que tratan de erradicar los males que les llevaron a la guerra.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/10IAonntmhbUv5ZctzfODygAufqakazji/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/divergente.jpg" width="150"></center> 
      <ion-card-subtitle>Verónica Roth</ion-card-subtitle>
      <ion-card-title>Insurgente</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Con la oleadade disturbios en las distintas facciones, Tris deberá asegurarse de proteger a los que ama, mientras se enfrenta ainquietantes preguntas sobre la culpabilidad, el perdón, la identidad, la lealtad, la política y el amor.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-8yZaSoDEXxistAvWpuTzpojIyDgbYiL/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/leal.jpg" width="150"></center> 
      <ion-card-subtitle>Verónica Roth</ion-card-subtitle>
      <ion-card-title>Leal</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La sociedad dividida en facciones en la que antes creía Tris Prior ha quedado hecha pedazos, fracturada por la violencia y las luchas de poder, y marcada por la traición. Así que cuando tiene la oportunidad de explorar el mundo más allá de los límites que siempre ha conocido, Tris está más que dispuesta.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/10SU2xqs2Yyr27qDDz884ziY6-JH7GE62/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/juegos.jpg" width="150"></center> 
      <ion-card-subtitle>Suzanne Collins</ion-card-subtitle>
      <ion-card-title>Los juegos del hambre</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Un pasado de guerras ha dejado los 12 distritos que dividen Panem bajo el poder tiránico del “Capitolio”. Sin libertad y en la pobreza, nadie puede salir de los límites de su distrito. Sólo una chica de 16 años, Katniss Everdeen, osa desafiar las normas para conseguir comida.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/10YJEqHMX0CESzRBP7uMCxX9NS6vOojh8/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/sinsajo.jpg" width="150"></center> 
      <ion-card-subtitle>Suzanne Collins</ion-card-subtitle>
      <ion-card-title>Los juegos del hambre: sinsajo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Katniss Everdeen, ha sobrevivido de nuevo a LOS JUEGOS, aunque no queda nada de su hogar. Gale ha escapado. Su familia está a salvo. El Capitolio ha capturado a Peeta. El Distrito 13 existe de verdad. Hay rebeldes. Hay nuevos líderes. Están en plena revolución. El plan de rescate para sacar a Katniss de la arena del cruel e inquietante Vasallaje de los Veinticinco no fue casual, como tampoco lo fue que llevara tiempo formando parte de la revolución sin saberlo.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-tqiXuGRNH0howKVyVrTsGHtownojMdM/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/llamas.jpg" width="150"></center> 
      <ion-card-subtitle>Suzanne Collins</ion-card-subtitle>
      <ion-card-title>Los juegos del hambre: en llamas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Contra todo prónostico, Katniss ha ganado Los Juegos del Hambre. Es un milagro que ella y su compañero del Distrito 12, Peeta Mellark, sigan vivos. Katniss debería sentirse aliviada, incluso contenta, ya que, al fin y al cabo, ha regresado con su familia y su amigo de toda la vida, Gale. Sin embargo, nada es como a ella le gustaría. Gale guarda las distancias y Peeta le ha dado la espalda por completo. Además se rumorea que existe una rebelión contra el Capitolio, una rebelión que puede que Katniss y Peeta hayan ayudado a inspirar. La nación les observa y hay mucho en juego. Un movimiento en falso y las consecuencias serán inimaginables.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-nNnN5BZfEuUZbs8TVUfqw8xYQNVhKvj/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  

</ion-content>
<ion-footer>
<ion-toolbar>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" [routerLink]="['/prueba']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="busqueda" [routerLink]="['/busqueda']">
      <ion-icon name="search"></ion-icon>
      <ion-label>Busqueda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="biblioteca">
      <ion-icon name="person-circle" [routerLink]="['/sesion']"></ion-icon>
      <ion-label>cuenta</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
</ion-footer>
