<ion-header>
  <ion-toolbar>
    <ion-title>infantiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/a1.jfif" width="150"></center> 
      <ion-card-subtitle>- Lucy Maud Montgomery</ion-card-subtitle>
      <ion-card-title> Ana la de Tejas Verdes </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
Serie: Ana de las Tejas Verdes #1
Ana es una niña de once años, pelirroja, pecosa y muy traviesa. Es huérfana desde los tres años y, por error, termina como hija adoptiva de los hermanos Matthew y Marilla Cuthbert, en la...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1XqlGugY8hammU4xSnoWJ_E2DOb53vtSI/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/a2.jfif" width="150"></center> 
      <ion-card-subtitle> - Lucy Maud Montgomery</ion-card-subtitle>
      <ion-card-title> Ana la de Avonlea </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
  
      Serie: Ana de las Tejas Verdes #2
      Ana tiene dieciséis años y ya es casi una mujer. Ahora puede practicar por fin su vocación dando clases a los niños de Avonlea, pero, como de costumbre, su vida está llena de sucesos...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1XrVUqI9k3tzyXBnYH6nJgR-mSqfgcVFC/view?usp=sharing">leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/a3.jfif" width="150"></center> 
      <ion-card-subtitle>  - Lucy Maud Montgomery</ion-card-subtitle>
      <ion-card-title>Ana la de La Isla  </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      Serie: Ana de las Tejas Verdes #3
      Ana abandona su trabajo como maestra y su familia en Avonlea, para asistir a la universidad Redmond durante cuatro años. Al principio vive en una pensión, pero más tarde alquila una casa,...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1XtYed2NRjKE8lWzqTtDQn_oNL_PmQokA/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/a4.jfif" width="150"></center> 
      <ion-card-subtitle>- Lucy Maud Montgomery</ion-card-subtitle>
      <ion-card-title> Ana la de Álamos Ventosos </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    
      Serie: Ana de las Tejas Verdes #4
      Una vez terminados sus estudios en la Universidad de Redmond, Ana entra a trabajar en el Instituto Summerside de Enseñanza Media. Pero los miembros de la familia Pringles, conocida...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1XwnoSdSXDSGOORiQ-ItJUmwOSuEDUAAB/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/a5.jfif" width="150"></center> 
      <ion-card-subtitle>- Lucy Maud Montgomery</ion-card-subtitle>
      <ion-card-title>  Ana y la casa de sus sueños</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
Serie: Ana de las Tejas Verdes #5
Gilbert, el verdadero amor de Ana, acaba los estudios de medicina. La pareja ya no tendrá que vivir separada. Se casan con sencillez y comienzan su vida en común en la pequeña casa...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1Y-oWoOp-fXTYdYQjcIVNGjDNj89Q-C_O/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/a6.jfif" width="150"></center> 
      <ion-card-subtitle>- Lucy Maud Montgomery</ion-card-subtitle>
      <ion-card-title> Ana la de Ingleside</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Serie: Ana de las Tejas Verdes #6
      Ana es ahora madre de cinco niños, y su familia es un hogar feliz y lleno de vida. Sin embargo, después de quince años de ser la mujer del doctor, un día se pregunta si su adorado Gilbert la...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1Y38QoJO8MT-akV1yBoloioj743jxi37G/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/a7.jfif" width="150"></center> 
      <ion-card-subtitle>  - Lucy Maud Montgomery</ion-card-subtitle>
      <ion-card-title>El Valle del Arco Iris</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Serie: Ana de las Tejas Verdes #7
      Ana Shirley, la protagonista de la serie, es desde hace más de quince años Ana Blythe, casada con el amor de su juventud, el médico Gilbert Blythe, viven en Ingleside, una gran casa en Glen...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1Y5TQwJ3rltxzFgIX5BHE_ZtJF2DEvs2z/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/a8.jfif" width="150"></center> 
      <ion-card-subtitle> - Lucy Maud Montgomery</ion-card-subtitle>
      <ion-card-title>A Rilla la de Ingleside </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Serie: Ana de las Tejas Verdes #8
      En esta última novela, la atención gira sobre un personaje central, Rilla Blythe, la hija menor de Ana y Gilbert. Está escrito con un tono más serio que sus antecesores, ya que la historia...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1YA2gkWdIjBa9gblYwr00Td2xUvow4HNB/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio" [routerLink]="['/prueba']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="busqueda" [routerLink]="['/busqueda']">
        <ion-icon name="search"></ion-icon>
        <ion-label>Busqueda</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="biblioteca">
        <ion-icon name="person-circle" [routerLink]="['/sesion']"></ion-icon>
        <ion-label>cuenta</ion-label>
      </ion-tab-button>
  
      
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
  </ion-footer>