<ion-header>
  <ion-toolbar>
    <ion-title>llorar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/yo.jfif" width="150"></center> 
      <ion-card-subtitle>Jojo Moyes</ion-card-subtitle>
      <ion-card-title>Yo antes de ti</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
  
Louisa Clark sabe muchas cosas. Sabe cuántos pasos hay entre la parada del autobús y su casa. Sabe que le gusta trabajar en el café The Buttered Bun y sabe que quizá no quiera a su novio Patrick. Lo que Lou no...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-Kr3IfTq_vPSJ1NKogkmEqkjWIYAcP1Y/view?usp=sharing">View</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/despues.jfif" width="150"></center> 
      <ion-card-subtitle>Jojo Moyes</ion-card-subtitle>
      <ion-card-title>Después de ti</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
«¿Cómo sigues adelante después de perder a la persona a la que amas?» Lou Clark tiene muchas preguntas: ¿Por qué ha terminado trabajando en el pub irlandés de un aeropuerto donde cada día tiene que ver cómo...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1AdHyIXXLR9qUYV2O2krux4UxwBpHMup7/view?usp=sharing">leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/sigo.jfif" width="150"></center> 
      <ion-card-subtitle>Jojo Moyes</ion-card-subtitle>
      <ion-card-title>Sigo siendo yo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lou Clark sabe demasiadas cosas… Sabe cuántos kilómetros hay entre su nuevo hogar en Nueva York y su nuevo novio, Sam, en Londres. Sabe que su jefe es un buen hombre y sabe que su mujer le está ocultando un...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1AgIhZzz6GKPqmmXfCGVhpXgOszSkOik3/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/un.jfif" width="150"></center> 
      <ion-card-subtitle>Elizabeth Benavent</ion-card-subtitle>
      <ion-card-title>un cuento perfecto</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      ¿Qué sucede cuando descubres que el final de tu cuento no es como soñabas? —Érase una vez una mujer que lo tenía todo y un chico que no tenía nada. —Érase una vez una historia de amor entre el éxito y la duda. —Érase una...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1Ajx2L1GYchr41yXTG796-mV4Mf8X-LWV/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/la.jfif" width="150"></center> 
      <ion-card-subtitle>Matt Haig</ion-card-subtitle>
      <ion-card-title> La biblioteca de la medianoche</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      «Entre la vida y la muerte hay una biblioteca. Y los estantes de esa biblioteca son infinitos. Cada libro da la oportunidad de probar otra vida que podrías haber vivido y de comprobar cómo habrían cambiado las cosas si hubieras...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1Ak-YIm_tjuDqVgbNXifo9T6Dophf244x/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/todo.jpg" width="150"></center> 
      <ion-card-subtitle>Alice Kellen</ion-card-subtitle>
      <ion-card-title>Todo lo que nunca fuimos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Leah está rota. Leah ya no pinta. Leah es un espejismo desde el accidente que se llevó a sus padres.
Axel es el mejor amigo de su hermano mayor y, cuando accede a acogerla en su casa durante unos meses, quiere ayudarla a encontrar y unir los pedazos de la chica llena de color que un día fue. Pero no sabe que ella siempre ha estado enamorada de él, a pesar de que sean casi familia, ni de que toda su vida está a punto de cambiar.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-URpYX7UhFHy1J8nvSiSQSlWYqNwoSXR/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/nosotros.jpg" width="150"></center> 
      <ion-card-subtitle>Alice Kellen</ion-card-subtitle>
      <ion-card-title>Nosotros en la luna</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Cuando Rhys y Ginger se conocen en las calles de la ciudad de la luz, no imaginan que sus vidas se unirán para siempre, a pesar de la distancia y de que no puedan ser más diferentes. Ella vive en Londres y a veces se siente tan perdida que se ha olvidado hasta de sus propios sueños.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-O3b6-qpDezfuFp-7LIvO6OJtBkuRS0z/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/aqui.jpg" width="150"></center> 
      <ion-card-subtitle>Jennifer Niven</ion-card-subtitle>
      <ion-card-title>Aqui empieza todo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A veces, cuando conoces a alguien, tu mundo cambia. Todo el mundo cree conocer a Libby, aunque nadie se ha parado a pensar cómo es ella realmente, más allá de su aspecto y de su peso. También todos creen conocer a Jack, ese muchacho encantador que oculta un profundo secreto.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/10DOpebmCnl_GLXh6wQP9NbPcmu_-67Gz/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio" [routerLink]="['/prueba']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="busqueda" [routerLink]="['/busqueda']">
        <ion-icon name="search"></ion-icon>
        <ion-label>Busqueda</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="biblioteca">
        <ion-icon name="person-circle" [routerLink]="['/sesion']"></ion-icon>
        <ion-label>cuenta</ion-label>
      </ion-tab-button>
  
     
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
  </ion-footer>