<ion-header>
  <ion-toolbar>
    <ion-title>novelas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/ados.jpg" width="150"></center> 
      <ion-card-subtitle>Tobias Iaconis, Mikki Daughtry</ion-card-subtitle>
      <ion-card-title>A dos metros de ti</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Stella tiene diecisiete años y a diferencia del resto de sus otros amigos vive una vida con una rutina bastante diferente. La joven padece fibrosis quística y pasa gran parte del tiempo en el hospital donde cada día tiene que poner a prueba su autocontrol, algo que se verá alterado cuando conozca a otro paciente.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-e7PUVwPVKVZJBorYhDgHRHytCvNpGGk/view?usp=sharing">leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/ciudades.png" width="150"></center> 
      <ion-card-subtitle>Jonh Green</ion-card-subtitle>
      <ion-card-title>Ciudades de papel</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Una joven desaparece dejando una serie de pistas que solo su mejor amigo de la infancia podrá descifrar... Una novela de John Green, el autor de Bajo la misma estrella.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-8ZSd6htYHtGGgYEOT3Hi9FCFG-PAeVt/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/ysi.jpg" width="150"></center> 
      <ion-card-subtitle>Elizabeth Eulberg</ion-card-subtitle>
      <ion-card-title>¿Y si quedamos como amigos?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Macallan es una chica muy madura para su edad, ha pasado por la cosa más difícil en la vida, perder a su mamá muy joven, cosa que me partió el corazón. Macallan vive con su padre y su tío Adam, y aunque es bastante difícil para ella hablar de su mamá poco a poco lo logra y trata de buscar una estabilidad en su vida.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-7SMKUUSI6ok-V4kx0BqMHGJfCHLHpsn/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/alfinal.jpg" width="150"></center> 
      <ion-card-subtitle>Adam Silvera</ion-card-subtitle>
      <ion-card-title>Al final mueren los dos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      ¿Puede un solo día albergar toda una vida? En un presente alternativo, en el que es posible predecir la muerte con un plazo de veinticuatro horas, Mateo Torrez y Rufus Emeterio acaban de recibir la llamada más temida: la misma que te avisa de que ha llegado tu hora final.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-1EAcupVJ7robGL_nImv_VtCr6unzvuF/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/todo.jpg" width="150"></center> 
      <ion-card-subtitle>Alice Kellen</ion-card-subtitle>
      <ion-card-title>Todo lo que nunca fuimos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Leah está rota. Leah ya no pinta. Leah es un espejismo desde el accidente que se llevó a sus padres.
Axel es el mejor amigo de su hermano mayor y, cuando accede a acogerla en su casa durante unos meses, quiere ayudarla a encontrar y unir los pedazos de la chica llena de color que un día fue. Pero no sabe que ella siempre ha estado enamorada de él, a pesar de que sean casi familia, ni de que toda su vida está a punto de cambiar.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-URpYX7UhFHy1J8nvSiSQSlWYqNwoSXR/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/nosotros.jpg" width="150"></center> 
      <ion-card-subtitle>Alice Kellen</ion-card-subtitle>
      <ion-card-title>Nosotros en la luna</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Cuando Rhys y Ginger se conocen en las calles de la ciudad de la luz, no imaginan que sus vidas se unirán para siempre, a pesar de la distancia y de que no puedan ser más diferentes. Ella vive en Londres y a veces se siente tan perdida que se ha olvidado hasta de sus propios sueños.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1-O3b6-qpDezfuFp-7LIvO6OJtBkuRS0z/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/aqui.jpg" width="150"></center> 
      <ion-card-subtitle>Jennifer Niven</ion-card-subtitle>
      <ion-card-title>Aqui empieza todo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A veces, cuando conoces a alguien, tu mundo cambia. Todo el mundo cree conocer a Libby, aunque nadie se ha parado a pensar cómo es ella realmente, más allá de su aspecto y de su peso. También todos creen conocer a Jack, ese muchacho encantador que oculta un profundo secreto.
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/10DOpebmCnl_GLXh6wQP9NbPcmu_-67Gz/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio" [routerLink]="['/prueba']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="busqueda" [routerLink]="['/busqueda']">
        <ion-icon name="search"></ion-icon>
        <ion-label>Busqueda</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="biblioteca">
        <ion-icon name="person-circle" [routerLink]="['/sesion']"></ion-icon>
        <ion-label>cuenta</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
  </ion-footer>