<ion-header>
  <ion-toolbar>
    <ion-title>ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/h4.jfif" width="150"></center> 
      <ion-card-subtitle> - J. K. Rowling</ion-card-subtitle>
      <ion-card-title>Harry Potter y el cáliz de fuego </ion-card-title>
    </ion-card-header>
  
    <ion-card-content> 
      Serie: Harry Potter #4
      Tras otro abominable verano con los Dursley, Harry se dispone a iniciar el cuarto curso en Hogwarts, la famosa escuela de magia y hechicería. A sus catorce años, a Harry le...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1UmA2vmA3E873k7nlR40vrMi5HvPJfWFI/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/h5.jfif" width="150"></center> 
      <ion-card-subtitle>- J. K. Rowling</ion-card-subtitle>
      <ion-card-title>Harry Potter y la Orden del Fénix </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Serie: Harry Potter #5
      Las tediosas vacaciones de verano en casa de sus tíos todavía no han acabado y Harry se encuentra más inquieto que nunca. Apenas ha tenido noticias de Ron y Hermione, y...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1Uo67Xwpx0TnW7FiVPFMuaPx2ge7jfJAm/view?usp=sharing">leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/h6.jfif" width="150"></center> 
      <ion-card-subtitle> - J. K. Rowling</ion-card-subtitle>
      <ion-card-title>Harry Potter y el misterio del príncipe </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Serie: Harry Potter #6
      Con dieciséis años cumplidos, Harry inicia el sexto curso en Hogwarts en medio de terribles acontecimientos que asolan Inglaterra. Elegido capitán del equipo de...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1UvbMxRQqUlrusJh-i2L6BPt4jXtXtIx8/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/h7.jfif" width="150"></center> 
      <ion-card-subtitle>- J. K. Rowling</ion-card-subtitle>
      <ion-card-title>Harry Potter y las Reliquias de la Muerte </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    
Serie: Harry Potter #7
Harry tiene que realizar una tarea siniestra, peligrosa y aparentemente imposible: la de localizar y de destruir a los Horrocruxes. Harry nunca se sintió tan sólo ni se...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1UzrrjjILaly2pP9Bg3Es2P5ZhTGKsSpI/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/sp.jfif" width="150"></center> 
      <ion-card-subtitle>- Holly Black, Tony DiTerlizzi</ion-card-subtitle>
      <ion-card-title> Las crónicas de Spiderwick</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     
      Serie: Las crónicas de Spiderwick #0
      Simón, Jared y Mallory no sabían que los seres fabulosos eran tan peligrosos, pero pronto descubren que no todos los duendes son amables y que...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/1XZcTRRT_Q5zqFB2ZSciZEHnlZU4rF9WN/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/c1.jfif" width="150"></center> 
      <ion-card-subtitle>- C. S. Lewis</ion-card-subtitle>
      <ion-card-title> El sobrino del mago</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
Serie: Las crónicas de Narnia 
Narnia..., un lugar por el que deambulan Bestias Parlantes..., donde aguarda una bruja. Dos amigos, víctimas del poder de unos anillos mágicos, son arrojados a otro mundo en el que una malvada...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/10Bkaz7EvCKCCWvWuWKLsFZORvjN7HM4J/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/c2.jfif" width="150"></center> 
      <ion-card-subtitle> - C. S. Lewis</ion-card-subtitle>
      <ion-card-title>El león, la bruja y el armario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      Serie: Las crónicas de Narnia 
      Cuatro hermanos descubren un armario que les sirve de puerta de acceso a Narnia, un país congelado en un invierno eterno y sin Navidad. Entonces, cumpliendo con las viejas profecías, los...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/10HZX6W3i54bFyDzv7YICHSeEJTzFhYNz/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <center><img src="assets/c3.jfif" width="150"></center> 
      <ion-card-subtitle> - C. S. Lewis</ion-card-subtitle>
      <ion-card-title>Aqui empieza todoEl caballo y el muchacho </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     
Serie: Las crónicas de Narnia 
Narnia… donde los caballos hablan… donde se prepara una traición… donde aguarda el destino. Embarcados en un viaje desesperado, dos fugitivos se encuentran y deciden unir fuerzas. Aunque...
      <br>
      <br>
      <center><ion-button fill="outline" slot="end" href="https://drive.google.com/file/d/10I7SqMDF48gu44oTDfja0_M3-aDCjz6E/view?usp=sharing">Leer</ion-button></center>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio" [routerLink]="['/prueba']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="busqueda" [routerLink]="['/busqueda']">
        <ion-icon name="search"></ion-icon>
        <ion-label>Busqueda</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="biblioteca">
        <ion-icon name="person-circle" [routerLink]="['/sesion']"></ion-icon>
        <ion-label>cuenta</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
  </ion-footer>