<ion-header [translucent]="true">
</ion-header>
<ion-content>
  <div class="app-splash-screen" [ngStyle]="{left: windowWidth}">

    <div class="app-splash-screen-inner">

    <div class="app-logo"><img src="assets/re.jpg" width="180"></div>
    <div class="app-label">Read Book's</div>
    <div class="app-loader"></div>

  </div></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <center>
  

  <br>
  <ion-button color="tertiary" [routerLink]="['/sesion']">Iniciar Sesion</ion-button>
  <br>
  <br>
  <br>
  <ion-button color="tertiary" [routerLink]="['/registro']">Registro</ion-button>
</center>

</ion-content>
