<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  
  <ion-list>
<br>
<br>
    <ion-item>
      <ion-label>nombre: </ion-label>
      <ion-input type="text" [(ngModel)]="datos.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>correo: </ion-label>
      <ion-input type="text" [(ngModel)]="datos.correo"></ion-input>
    </ion-item>
  </ion-list>
  
  <ion-item>
    <ion-label>edad: </ion-label>
    <ion-input type="number" [(ngModel)]="datos.edad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>contraseña: </ion-label>
    <ion-input type="text" [(ngModel)]="datos.contrasena"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button round (click)="guardar()" [routerLink]="['/prueba']">Resgistrarse</ion-button>
  </ion-item>
</ion-list>

</ion-content>
